.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 70px;
  color: var(--main-light-color);
  background: var(--gradient-background);
  border-radius: 14px 14px 0 0;
}

@media screen and (min-width: 768px) {
  .section {
    flex-direction: row;
  }

  .register {
    width: 200px;
    height: 500px;
    border-radius: 14px 0 0 14px;
  }
}
