.container {
  max-width: 375px;
  margin: 0 auto;
}

.main {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .main {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .main {
    margin: 0 auto;
  }
}
