.filterWrap {
  width: 300px;
  position: relative;
}
.inputWrap {
  padding: 10px 15px 0 15px;
}
.filterText {
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  color: rgba(200, 134, 255, 0.66);
}
.filterInput {
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
  padding: 0 5px;
  height: 30px;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(200, 134, 255, 0.66) 31%,
    rgba(105, 56, 206, 0.59) 100%
  );
  border: none;
}
.filterInput:focus {
  outline: none;
}
