.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.7);
  z-index: 100;
}
.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 390px;
  height: 80vh;
  overflow: auto;
  background-color: var(--secondary-background-color);
  border: 1px solid var(--secondary-accent-color);
  border-radius: 14px;
  padding: 20px;
}
.closeBtn {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.closeIcon {
  fill: var(--main-light-color);
  width: 26px;
  height: 26px;

  transition: all var(--main-transition);
}

.closeIcon:hover,
.closeIcon:focus {
  transform: rotate(90deg);
}

.titleWrapper {
  display: flex;
  gap: 15px;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: 500px;
  color: var(--main-light-color);
}

.iconContact {
  fill: var(--main-light-color);
  width: 60px;
  height: 60px;
}
