.noContact {
  text-align: center;
  font-size: 20px;
  color: #777777;
  margin-top: 10px;
}
.contactList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 400px;
  overflow-y: auto;
}
.contactList::-webkit-scrollbar {
  width: 8px;
}
.contactList::-webkit-scrollbar-track {
  background: transparent;
}
.contactList::-webkit-scrollbar-thumb {
  background-color: var(--secondary-accent-color);
  border-radius: 20px;
}

.contactItem {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}

.imgNameWrapp {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 300px;
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.descrList {
  display: flex;
  gap: 20px;
}

.descrEmailItem {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 300px;
  color: var(--main-light-color);
}

.descrPhoneItem {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 170px;
  color: var(--main-light-color);
}

.desription {
  font-size: 20px;
  color: var(--main-light-color);
}

.iconList {
  display: flex;
  gap: 15px;
}

.iconItem {
  display: flex;
  align-items: center;
}

.deleteBtn {
  display: flex;
  align-items: center;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.deleteIcon {
  fill: var(--main-light-color);
  width: 35px;
  height: 35px;
  transition: all var(--main-transition);
}

.deleteBtn:hover .deleteIcon,
.deleteBtn:focus .deleteIcon {
  fill: #ff0000;
}

.favoriteBtn {
  display: flex;
  align-items: center;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.starIcon {
  fill: #f0ff1a;
  width: 35px;
  height: 35px;
  transition: all var(--main-transition);
}

.editBtn {
  display: flex;
  align-items: center;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.editIcon {
  fill: var(--main-light-color);
  width: 28px;
  height: 28px;
  transition: all var(--main-transition);
}

.editBtn:hover .editIcon,
.editBtn:focus .editIcon {
  fill: #adff2f;
}
