.auth {
  display: flex;
  gap: 10px;
  padding: 20px 0;
}

.link {
  font-size: 20px;
  font-weight: 500;
  color: #6938ce;
  position: relative;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);

  :global &.active::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    display: inline-block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #a48ed3;
    border-radius: 2px;
  }
}
.link:hover,
.link:focus {
  color: #b18bff;
}

@media screen and (min-width: 768px) {
  .auth {
    gap: 15px;
  }
  .link {
    font-size: 25px;
  }
}
