.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 339px;
  height: 350px;
  background-color: var(--secondary-background-color);
  border-radius: 0 0 14px 14px;
  border-left: 1px solid rgba(105, 56, 206, 0.6);
  border-right: 1px solid rgba(105, 56, 206, 0.6);
  border-bottom: 1px solid rgba(105, 56, 206, 0.6);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.formLabel {
  position: relative;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  color: var(--secondary-accent-color);
}
.formInput {
  font-size: 20px;
  padding: 0 5px;
  width: 300px;
  height: 40px;
  color: var(--main-light-color);
  border-radius: 5px;
  background: var(--gradient-background);
  border: none;
}
.formInput:focus {
  outline: none;
}
.formBtn {
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  width: 150px;
  border-radius: 5px;
  border: none;
  color: var(--main-light-color);
  background: var(--gradient-background);
  padding: 8px 10px;
  cursor: pointer;
  transition: all var(--main-transition);
}
.formBtn:hover,
.formBtn:focus {
  transform: scale(1.1);
}
.error {
  position: absolute;
  left: 0;
  bottom: -18px;
  font-size: 13px;
  width: 300px;
  color: #ff0000;
}

@media screen and (min-width: 768px) {
  .formWrapper {
    width: 400px;
    height: 498px;
    border-radius: 0 14px 14px 0;
    border-top: 1px solid rgba(105, 56, 206, 0.6);
    border-right: 1px solid rgba(105, 56, 206, 0.6);
    border-bottom: 1px solid rgba(105, 56, 206, 0.6);
  }
}
