@import-normalize;

:root {
  --accent-color: #6938ce;
  --secondary-accent-color: rgba(200, 134, 255, 0.66);
  --main-light-color: #f4efff;
  --secondary-background-color: #181818;
  --gradient-background: linear-gradient(
    90deg,
    rgba(200, 134, 255, 0.66) 31%,
    rgba(105, 56, 206, 0.59) 100%
  );
  --main-transition: 300ms linear;
}

body {
  margin: 0;
  font-family: 'Farro', sans-serif;
  background-color: #111111;
}

ul {
  padding-left: 20px;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
