@import-normalize;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(145deg, #fae6fc, #e1c3ff, #fffec3, #c7c3ff);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding-left: 20px;
  padding-bottom: 30px;
  width: 500px;
  height: 800px;
}
.formTitle {
  font-size: 40px;
}
.contactsTitle {
  font-size: 30px;
}
ul {
  padding-left: 20px;
}
