.wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px 0;
}
.userEmail {
  display: none;
}
.button {
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border: none;
  color: var(--accent-color);
  background-color: transparent;
  cursor: pointer;

  transition: all var(--main-transition);
}
.button:hover,
.button:focus {
  color: var(--secondary-accent-color);
}

@media screen and (min-width: 768px) {
  .userEmail {
    display: block;
    font-size: 25px;
    font-weight: 500;
    color: var(--accent-color);
  }
  .button {
    font-size: 25px;
  }
}
